<article class="featured-container gradient-left">
  <img class="to-back" src="https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400006/100130939-error-404-page-not-found-error-with-glitch-effect-on-screen-vector-illustration-for-your-design-.jpg" alt="not-found"/>
  <div class="featured-text">
    <span class="text-orange text-medium">There is no a featured article, yet.</span><br>
    <span class="text-grey-light">by</span>
    <span class="text-orange">Me</span>
    <span class="text-grey-light"><%= time_ago_in_words(Time.now) %> ago</span>
    <p class="text-white">In order to show something here please vote for the article you enjoyed the most</p>
  </div>
</article>