:root {
  --orange: #f86309;
  --grey: #4e443e;
  --grey-light: #847f7b;
  --brown: #4e443e;
  --white: #ffffff;
  --yelow: #fefe00;
}

html, body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-brand{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-bar .nav-brand p{
  font-size: 30px;
  font-weight: 700;
  color: var(--grey);
  padding: 0 20px;
  margin: 0;
}


.nav-bar .nav-links{
  display: flex;
  list-style-type: none;
}

.nav-bar .nav-links li {
  padding: 0 10px;
}

.nav-bar li {
  margin: 0 5px;
}

.nav-bar .nav-sign{
  display: flex;
  list-style-type: none;
  color: var(--grey-light);
}

.first-container{
  display: flex;
}

.featured-container {
  height: 400px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
  color: white;
}

.featured-container img {
  width: 1200px;
}

.featured-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.miscellaneous-container {
  height: 400px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
  text-align: center;
  color: white;
}

.miscellaneous-container img{
  height: 600px;
}

.miscellaneous-text {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.footer {
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo {
  height: 75px;
  display: flex;
  align-items: center;
}

.footer .logo img{
  height: 75px;
}

.footer .policy {
  display: flex;
  align-items: center;
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer .social i {
  font-size: 30px;
  color: var(--orange);
  padding: 0 5px;
}

.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--orange);
}

.text-grey-light {
  color: var(--grey-light);
}


a {
  text-decoration: none;
}
 
a:active {
  color: var(--orange)
}

.gradient-right {
  background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.75) 75%);
}

.gradient-left {
  background: linear-gradient(190deg, rgba(255,255,255,0.1) 14%, rgba(0,0,0,0.85) 70%)
}

.to-back{
  z-index: -1;
}

.text-medium{
  font-size: 20px;
}