:root {
  --orange: #f86309;
  --grey: #4e443e;
  --grey-light: #847f7b;
  --brown: #4e443e;
  --white: #ffffff;
  --yelow: #fefe00;
}

body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-brand{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-bar .nav-brand i{
  display: block;
  border-radius: 10px;
}

.nav-bar .nav-brand p{
  font-size: 30px;
  color: var(--grey);
}


.nav-bar .nav-links{
  display: flex;
  list-style-type: none;
}

.nav-bar li {
  margin: 0 5px;
}

.nav-bar .nav-sign{
  display: flex;
  list-style-type: none;
}

.footer {
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo {
  height: 75px;
  display: flex;
  align-items: center;
}

.footer .logo img{
  height: 75px;
}

.footer .policy {
  display: flex;
  align-items: center;
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer .social i {
  font-size: 30px;
  color: var(--orange);
  padding: 0 5px;
}

.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--orange);
}

.text-grey-light {
  color: var(--grey-light);
}


a {
  text-decoration: none;
}