
<li><%= link_to "LOGIN", sign_in_path, class: color_selector("/sign_in") %></li>
<li>|</li>
<li><%= link_to "REGISTER", new_user_path, class: color_selector("/users/new") %></li>
<li><i class="fas fa-search text-grey-light"></i></li>